<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="../components/core-image/core-image.html">
<link rel="import" href="../components/paper-ripple/paper-ripple.html">

<polymer-element name="cabinet-channel-feed" attributes="data">
		
  <template>
	
	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- <link href="/css/style.min.css" rel="stylesheet"> -->
	<link href="/css/theme.css" rel="stylesheet" >

	<style>
		.item{
			color: black;
			margin-bottom: 0px;
			min-height: 30px;
		}		
		/*.item:hover{
			background-color: rgba(0, 0, 0, .032)!important;
			color: white !important;
		}*/
		core-image{
			width: 30px;
			height: 30px;
			border-radius: 50px;
		}
	</style>

	<div class="item">
		<div style="position: absolute" class="_thumbnail">
			<core-image sizing="cover" class="poster-pic" src="{{data.photo_50}}"></core-image>
		</div>
		<div style="padding-left: 60px;text-align:left;">
			<small class="list-group-item-heading">{{data.name}}</small>
			<paper-ripple fit></paper-ripple>
		</div>	
		
	</div>	
	
	
  </template>
  <script>

  	(function(){

  		var labels = {
  			vk: 'Вконтакте',
  			facebook: 'Facebook',
  		};

  		Polymer({
	  		data: {},
	  		ready: function(){
  				var me = this;
	  			console.log('ready cabinet-feed-button');
	  			//this.$.api.ensureAccess();
	  		}
	  	});

  	})();
  	
  </script>
</polymer-element>
