<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="../components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../components/core-image/core-image.html">
<link rel="import" href="../components/paper-shadow/paper-shadow.html">
<link rel="import" href="../components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../components/paper-ripple/paper-ripple.html">


<polymer-element name="cabinet-feed-button" attributes="data" extends="paper-checkbox">
		
  <template>
	
	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- <link href="../css/style.min.css" rel="stylesheet"> -->
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >

	<style>
		.item{
			color: black;
			float: none;
			cursor: pointer;
			margin-bottom: 0px;
			min-height: 35px;
		}
		.badge{
			background: none;
			margin-top: 10px;
		}
		._thumbnail{
			position: absolute; 
			margin-left: 25px;
			margin-top: -2px;
		}
		._right{
			margin-left: 70px; 
			text-align: left;
		}
		.media-body{
			padding-left: 10px;
		}
		.thumbnail{
			
			width: 40px;
			height: 40px;
			
			text-align: center;
			vertical-align: bottom;
		}
		core-image{
			width: 40px;
			height: 40px;
			border-radius: 50px;
			background: gray;
		}
	</style>
	<div class="item">
		<div class="pull-left">
			<!-- <div class="thumbnail" style="max-width:40px;max-height:40px;border-radius:40px;"> -->
				<core-image sizing="cover" class="poster-pic"  src="{{data.photo_50}}"></core-image> 
			<!-- </div> -->
	    </div>
	    <div class="media-body">
	        <p style="color:white;text-align:left;"><small><shadow></shadow></small>{{data.name}}</p>
	    </div>	
	    <paper-ripple fit></paper-ripple>
	</div>
	
	<!-- <div class="item">
		<div style="position: absolute;margin-top: 5px;">
			<shadow></shadow>	
		</div>
		<div class="_thumbnail">
			<core-image class="poster-pic" style="max-width:30px;max-height: 30px;" src="{{data.photo_50}}"></core-image>
		</div>
		<div class="col-md-8 pull-left _right">
			<small class="list-group-item-heading">{{data.name}}</small>
		</div>
		
	</div> -->

	
  </template>
  <script>

  	(function(){

  		var labels = {
  			vk: 'Вконтакте',
  			facebook: 'Facebook',
  		};

  		Polymer({
	  		data: {},
	  		ready: function(){
  				var me = this;
	  			console.log('ready cabinet-feed-button');
	  			//this.$.api.ensureAccess();
	  		}
	  	});

  	})();
  	
  </script>
</polymer-element>
