<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../components/paper-button/paper-button.html">
<link rel="import" href="../../components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../components/pushstate-anchor/src/pushstate-anchor.html">
<link rel="stylesheet" href="../../css/theme.css" >
<polymer-element name="header-menu" extends="core-header-panel" >
  <template>
    <!-- <core-header-panel flex> -->
      <core-toolbar>
        <paper-button><a is="pushstate-anchor" href="/" >Главная</a></paper-button>
        <span flex>&nbsp;&nbsp;</span>
        <core-icon-button icon="account-box"><a is="pushstate-anchor" href="/login" >Войти</a></core-icon-button>
      </core-toolbar>
    <!-- </core-header-panel>       -->
        <!-- <paper-button><a href="/" >Главная</a></paper-button>
        <span flex>&nbsp;&nbsp;</span>
        <core-icon-button icon="account-box"><a href="/login" >Войти</a></core-icon-button> -->
  </template>
  <script>
    //console.log('window', window, window.documet, window.scriptElements.header_menu);
    //Polymer('header-menu', window.scriptElements.header_menu);
  </script>
</polymer-element>
