<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../layouts/sidebar-layout.html">
<link rel="import" href="../layouts/preload-layout.html">

<link rel="import" href="../../components/paper-tabs/paper-tabs.html">

<link rel="import" href="../../components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../components/paper-item/paper-item.html">
<link rel="import" href="../../components/core-selector/core-selector.html">
<link rel="import" href="../../components/core-pages/core-pages.html">
<link rel="import" href="../../components/core-image/core-image.html">
<link rel="import" href="../../components/paper-fab/paper-fab.html">

<link rel="import" href="../ui/cabinet-feed-list-item.html">
<link rel="import" href="../ui/cabinet-feed-list-posted-item.html">

<link rel="import" href="../apiService.html">
<link rel="import" href="../notifyService.html">

<polymer-element name="cabinet-feed-list">
		
  <template>
	
	<api-service id="api"></api-service>
	<notify-service id="notify"></notify-service>

	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
	<!-- <link type="text/css" rel="stylesheet" href="/components/materialize/dist/css/materialize.css"  media="screen,projection"/> -->

	

    <sidebar-layout selected="cabinet_feeds" logined="true">
    	
    		<section id="content" class="container">
    			<div class="col-lg-12 vert-offset-top-2">
    				<!-- <div class="col-lg-12">
    					<h3 class="block-title pull-left"><core-icon icon="list"></core-icon>Мои посты</h3>
					</div> -->
					<div class="col-md-12">
						<div class="col-lg-4 col-md-12">
							<paper-tabs id="tabs"  class="transparent-teal"  selected="0">
								<paper-tab>В очереди</paper-tab>
								<paper-tab>Опубликованые</paper-tab>
								<paper-tab>
									<core-icon icon="add"></core-icon>Новый пост
									<a is="pushstate-anchor" href="/cabinet/feed/add"></a>
								</paper-tab>
						    </paper-tabs>	
						</div>
    					
						<core-pages flex id="pages" class="vert-offset-top-4">
							
							<div class="col-md-12" >
								<preload-layout id="waitPreload" loading="false">
									<paper-shadow>
								      	<core-selector selected="1">
								      		<template repeat="{{item in waitList}}">
								      			<paper-item>
													<div class="col-md-12">
								      					<cabinet-feed-list-item on-change="{{onChange}}" data="{{item}}"></cabinet-feed-list-item>
								      				</div>
							      				</paper-item>	
								      		</template>
								      	</core-selector>
								    </paper-shadow>
								</preload-layout>
									
							</div>
							<div class="col-md-12">
								<preload-layout id="archivePreload" loading="false">
									<paper-shadow>
								      	<core-selector selected="1">
								      		<template repeat="{{item in archiveList}}">
								      			<paper-item>
								      				<div class="col-md-12">
								      					<cabinet-feed-list-posted-item data="{{item}}"></cabinet-feed-list-posted-item>
								      				</div>
							      				</paper-item>	
								      		</template>
								      	</core-selector>
								    </paper-shadow>	
								</preload-layout>
								
							</div>
						</core-pages>
					</div>
				</div>
    		</section>
    </sidebar-layout>
    <style>
  	.poster-pic,
  	cabinet-feed-list-item /deep/ .poster-pic,
  	cabinet-feed-list-posted-item /deep/ .poster-pic
  	{
  		height: 50px;
  	}
  </style>
  </template>
  <script>
  	Polymer({

  		waitList: [],
  		archiveList: [],

  		onChange: function(e){
  			console.log('onChange', e);
  			this.$.notify.notify(e.detail.message);
  			this._reload();
  		},
  		_reload: function(){
  			
  			this.$.waitPreload.loading = true;
  			this.$.archivePreload.loading = true;

  			this.$.api.getUserWaitFeed(function(res){
  				this.waitList = res.data;
  				this.$.waitPreload.loading = false;
  			}.bind(this));

  			this.$.api.getUserArchiveFeed(function(res){
  				this.archiveList = res.data;
  				this.$.archivePreload.loading = false;
  			}.bind(this));
  		},

  		ready: function(){
  			console.log('ready cabinet_feeds');
  			this.$.api.ensureAccess();
		    this.$.tabs.addEventListener('core-select', function() {
		    	var selected = this.$.tabs.selected;
		      	this.$.pages.selected = selected;
		      	if(selected == 2){
		      		this.$.api.go('/cabinet/feed/add');
		      	}
		    }.bind(this) );	

		    this._reload();	
  		}
  	});
    
  
  </script>

  
</polymer-element>