<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../layouts/sidebar-layout.html">
<link rel="import" href="../layouts/preload-layout.html">
<link rel="import" href="../../components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../components/core-menu/core-menu.html">
<link rel="import" href="../../components/paper-item/paper-item.html">
<link rel="import" href="../../components/paper-shadow/paper-shadow.html">
<!-- <link rel="import" href="../../components/polymer-date-picker/polymer-date-picker.html"> -->
<link rel="import" href="../../components/paper-date-picker/paper-date-picker-dialog.html">
<link rel="import" href="../../components/nemento-timepicker/nemento-timepicker.html">
<link rel="import" href="../../components/paper-toggle-button/paper-toggle-button.html">


<link rel="import" href="../../components/paper-input/paper-autogrow-textarea.html">
<link rel="import" href="../../components/paper-input/paper-input-decorator.html">
<link rel="import" href="../cabinet-feed-button.html">
<link rel="import" href="../upload-image/upload-image.html">


<link rel="import" href="../apiService.html">
<link rel="import" href="../notifyService.html">

<script src="cabinet-feed-add.js"></script>
<polymer-element name="cabinet-feed-add" >
		
  <template>

	<api-service id="api"></api-service>
	<notify-service id="notify"></notify-service>

	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/form.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
	<link href="cabinet-feed-add.css" rel="stylesheet">

    <sidebar-layout selected="cabinet_feed_add" logined="true">
    	<preload-layout id="preload">
    		<section id="content" class="container">
    			<div class="col-lg-12 vert-offset-top-2">
    				<div class="col-lg-12"><h3 class="block-title pull-left"><core-icon icon="add"></core-icon>Новая публикация</h3></div>
    				

					<div class="col-lg-8 _form">
						<paper-shadow z="1" style="">
							<div class="c-block" >
			                    <p class="pull-left">Канал для публикации</p>
			                    <div class="col-md-12 col_form" style="padding-left: 0;">
									<div class="col-md-4 col_form" style="padding-left: 0;">
										<select class="form-control" value="{{selectedId}}">
											<option value="">----</option>
											<template repeat="{{channel in channels}}">
								        		<option selected="{{channel.id==selectedId}}" value="{{channel.id}}">{{channel.name}}</option>	
								        	</template>
										</select>
									</div>
								</div>
			                    
								<p class="pull-left"></p>
	                    		<textarea class="form-control" rows="3" placeholder="текст сообщения" value="{{formData.message}}"></textarea>
								
								<p class="pull-left">Когда опубликовать</p>								
								<div class="col-md-12" style="padding-left: 0;">
									<div class="col-md-2" style="padding-left: 0;">
										<!-- <paper-icon-button icon="apps" class="custom" raised on-tap="{{datePickerOpen}}" id="trigger"></paper-icon-button> -->
									    <!-- {{formData.selectedDate}} -->
										<!-- <paper-button raised on-tap="{{datePickerOpen}}" id="trigger">{{formData.selectedDate}}</paper-button> -->
										<!-- <core-icon icon="apps"></core-icon> -->
										<input id="trigger" value="{{formData.selectedDate}}" on-click="{{datePickerOpen}}" readonly class="date form-control pull-left"/>		
									</div>
									<div class="col-md-2" >
										<nemento-timepicker ampm="false" valign="bottom" step="10" id="timePicker" style="" readonly></nemento-timepicker>
									</div>
								</div>
								<paper-date-picker-dialog id="datePicker" 
									date="{{formData.selectedDate}}" min="{{pickerSettings.min}}" max="{{pickerSettings.max}}" infiniteScrolling="{{pickerSettings.infiniteScrolling}}" ></paper-date-picker-dialog>
								
								<p class="pull-left">Удалить после публикации</p>
								<div class="col-md-12" style="padding-left: 0;text-align:left;">
									<paper-toggle-button checked="{{formData.isDelete}}" style="cursor:pointer;"></paper-toggle-button>
								</div>

								<p class="pull-left">Картинка</p>
								<div class="col-md-12" style="padding-left: 0;text-align:left;">
									<upload-image id="image"></upload-image>
								</div>	

								<template if="{{formData.isDelete}}">
									<p class="pull-left">Удалить через: </p>
									<div class="col-md-12 col_form" style="padding-left: 0;">
										<div class="col-md-4 col_form" style="padding-left: 0;">
											<select class="form-control" value="{{formData.deleteAfter}}">
												<option value="">----</option>
												<template repeat="{{item in deleteData}}">
									        		<option selected="{{item.value==formData.deleteAfter}}" value="{{item.value}}">{{item.label}}</option>	
									        	</template>
											</select>
										</div>
									</div>										
								</template>
	
								<div class="col-md-12" style="padding-right:0;">
									<paper-button raised on-tap="{{submit}}" class="submit">
										<core-icon icon="done"></core-icon>
										Опубликовать
									</paper-button>
								</div>
								

			                </div>
						</paper-shadow>
					</div>
					<div class="col-lg-4">
						<template if="{{selectedChannel}}">
							<!-- <paper-shadow>
								<core-selector multi="true">
									<paper-item>&nbsp;</paper-item>3
									<template repeat="{{group in channelGroups}}">
										<paper-item>
						      				<cabinet-feed-button class="col-lg-12 pull-left" checked="{{group.checked}}" data="{{group}}"></cabinet-feed-button>
					      				</paper-item>	
									</template>	
								</core-selector>
							</paper-shadow> -->
							
							<aside class="sidebar">
			                    <div class="notification shadowed">
			                        <div class="tab-content">
			                            <div class="tab-pane active" id="inbox">
			                              	<template repeat="{{group in channelGroups}}">
			                              		<div class="media">
			                              			<cabinet-feed-button class="col-lg-12 pull-left" checked="{{group.checked}}" data="{{group}}"></cabinet-feed-button>
			                              		</div>
			                              	</template>
			                            </div>
			                        </div>
			                    </div>
			               </aside>	
						</template>
					</div>

					<div class="col-lg-12">
						<!-- {{formData.message}} -->
					</div>
				</div>
    		</section>
    	</preload-layout>
    </sidebar-layout>
  </template>
  
</polymer-element>