<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../layouts/sidebar-layout.html">
<link rel="import" href="../layouts/preload-layout.html">
<link rel="import" href="../../components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../components/paper-input/paper-input.html">
<link rel="import" href="../apiService.html">
<link rel="import" href="../cabinet-social-button.html">

<polymer-element name="cabinet-keys" attributes="services">
		
  <template>
	<api-service id="api"></api-service>

	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >

	<style type="text/css">
		.panel-body{
			background: #424b4b;
		}
		paper-button, .btn-success{
			width: 100%;
		}
		paper-input-decorator input{
			width: 100%;
		}
	</style>

	
    <sidebar-layout selected="cabinet_keys"  logined="true">
      	<preload-layout id="preload">
      		<div class="vert-offset-top-2">
				<template repeat="{{ service in services }}">
					<div class="col-lg-12 vert-offset-top-1" >
						<div class="col-lg-6">
							<cabinet-social-button service="{{service}}" type="{{service.type}}" userkey="{{service.data}}"></cabinet-social-button>
						</div>
					</div>	
				</template>
			</div>
      	</preload-layout>
    </sidebar-layout>
  </template>
  <script>

  	Polymer({
		services: [],
  		ready: function(){
  			console.log('ready cabinet');
  			this.$.api.ensureAccess();
  			var me = this;
  			this.$.api.getUser(function(data){
  				me.services = data.services;
  				me.$.preload.loading = false;
  			});
  		}
  	});
  </script>
</polymer-element>
