paper-dropdown-menu{
	width: 100%;
	color: black;
}
paper-dropdown{
	/*width: 100%;*/
}
paper-dropdown-menu .dropdown{
	position: absolute;
}
.form-control{
	border-radius: 0;
	background: rgba(0,0,0,.35);
	color: white;
	border-top: 0px;
	border-left: 0;
	border-right: 0;
}
.form-control[readonly]{
	background-color: rgba(238, 238, 238, 0.5);
}

._menu {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);*/
}

.item {
  position: relative;
  height: 48px;
  line-height: 48px;
  color: #646464;
  font-size: 0.9em;
  /*padding-top: 10px;*/
}
.item:hover{
	background-color: rgba(0, 0, 0, .032)!important;
	color: white !important;
}
.c-block { margin-bottom: 0; display: inline-block; width: 100%; }
#content .form-control { margin-bottom: 10px; }
aside .shadowed{
	padding-left: 0;
	background: rgba(0,0,0,.35);
	box-shadow: 0 0 5px rgba(189, 188, 188, 0.42) inset,0 1px 0 rgba(255,255,255,.1);
	margin:0;
}
paper-shadow{
	padding: 10px;
	background: rgba(0,0,0,.35);
	color: white;
}
._form{
	margin-bottom: 10px;
}
cabinet-feed-button{
	width: 100%;
}
#trigger{ cursor:pointer; }
polymer-date-picker{
	margin-top: -30px;
	margin-left: -30px;
}
html /deep/ .month h1,
.month h1 {
	text-align: center;
	font-size: 13px !important;
	color: rgba(0,0,0,.8);
	margin: 0px;
	padding: 0.67em 0px;
}
paper-button.custom{
	margin-left: 0px;
	background-color: #eb9607;
	color: white;
}
#trigger{
	background: transparent;
	color: white;
}
nemento-timepicker{
	height: 35px;
	cursor:pointer;
}
.submit{
	float: right;
	background-color: #4FB44F;
	color: white !important;
	border-color: #43A343;
}
.block-title{
	background-color: #eb9607;
}