<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../layouts/sidebar-layout.html">
<link rel="import" href="../layouts/preload-layout.html">
<link rel="import" href="../../components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../components/paper-input/paper-input.html">
<link rel="import" href="../../components/paper-input/paper-input.html">
<link rel="import" href="../../components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../components/paper-button/paper-button.html">
<link rel="import" href="../../components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../components/paper-item/paper-item.html">
<link rel="import" href="../../components/core-selector/core-selector.html">

<link rel="import" href="../cabinet-feed-button.html">
<link rel="import" href="../apiService.html">
<link rel="import" href="../notifyService.html">



<polymer-element name="cabinet-channel-add" >
		
  <template>
	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- <link href="../../css/style.min.css" rel="stylesheet"> -->
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >

	<api-service id="api"></api-service>
	<notify-service id="notify"></notify-service>

	

	<style type="text/css">
		paper-spinner {
			margin: 0 auto;
			display: block;
		}
		cabinet-feed-button{
			display: block;
			width: 100%;
		}
		paper-input{
			width: 100%;
			color: white;
		}
		.list-group-item:hover{
			background-color: rgba(0, 0, 0, .032)!important;
			color: white !important;
		}
		paper-button{
			background-color: #4FB44F;
			color: white !important;
			border-color: #43A343;
		}
	</style>

	
    <sidebar-layout selected="cabinet_channel_add"  logined="true">
      	<preload-layout id="preload">
      		<div class="col-lg-12 vert-offset-top-2">
				<div class="col-md-12">
					<div class="col-md-9">
						<paper-input label="Название" value="{{nameFeed}}"></paper-input>	
					</div>
					<div class="col-md-3">
						<paper-button style="float: none !important;" on-tap="{{submit}}" class="pull-left" disabled="{{!formValid}}" raised>
							<core-icon icon="add"></core-icon>Сохранить
						</paper-button>	
					</div>
				</div>
				<div class="col-md-12 vert-offset-top-1" >
					<paper-shadow>
						<core-selector multi="true">
							<paper-item>&nbsp;</paper-item>3
							<template repeat="{{ feed in feeds }}">
								<paper-item>
				      				<cabinet-feed-button on-core-change="{{onFeedChange}}" checked="{{feed.checked}}" data="{{feed}}"></cabinet-social-button>		
			      				</paper-item>	
							</template>	
						</core-selector>
					</paper-shadow>
				</div>
				<!-- <div class="col-lg-12 vert-offset-top-1" >
					<div class="block">
						<div class="list-group">
							<template repeat="{{ feed in feeds }}">
								<div class="list-group-item {{feed.checked? 'active': ''}}" >
									<cabinet-feed-button on-core-change="{{onFeedChange}}" checked="{{feed.checked}}" data="{{feed}}"></cabinet-social-button>		
								</div>
							</template>
						</div>
					</div>
				</div> -->
			</div>
      	</preload-layout>
		

    </sidebar-layout>
  </template>
  <script>
  	Polymer({

  		nameFeed: '',
  		formValid: false,
		//groupFervices: [],
		feeds: [],
		selectedFeeds: [],
		//checked
		observe: {
		    nameFeed: 'validate',
		    groupFervices: 'validate'
	  	},

	  	eventDelegates: {
	      	onFeedChange: 'onFeedChange',
	      	submit: 'submit'
	    },

	    submit: function(){
	    	//var me = this;
	    	this.$.api.addFeed({
	    		name: this.nameFeed,
	    		groups: this.selectedFeeds
	    	}, function(data){
	    		this.$.api.go('/cabinet/channels');
	    		this.$.notify.notify(data.message);
	    	}.bind(this));
	    },
	  	validate: function(oldValue, newValue){
	  		console.log('validate');
	  		this.formValid =  (!this.nameFeed || Object.keys(this.selectedFeeds).length === 0)? false: true;
	  	},
		
		onFeedChange: function(){
			this.selectedFeeds = _.filter(this.feeds, function(item){
				return item.checked;
			});
			console.log('cabinet-feed-button', this.selectedFeeds);
			this.validate();
		},

  		ready: function(){
  			var me = this;
  			console.log('ready cabinet_channel_add');
  			this.$.api.ensureAccess();
  			this.$.api.getUserFeeds(function(data){
  				me.feeds=[];
  				_.map(data.feeds, function(group){
  					_.map(group, function(item){
  						me.feeds.push(item);
  					});
  				});
  				//me.groupFervices = data.feeds;
  				me.$.preload.loading = false;
  			});
  		}
  	});
  </script>
</polymer-element>
