<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../layouts/sidebar-layout.html">
<link rel="import" href="../layouts/preload-layout.html">
<link rel="import" href="../../components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../components/paper-button/paper-button.html">
<link rel="import" href="../../components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../components/core-tooltip/core-tooltip.html">

<link rel="import" href="../../components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../components/paper-item/paper-item.html">
<link rel="import" href="../../components/core-selector/core-selector.html">
<link rel="import" href="../../components/paper-fab/paper-fab.html">

<link rel="import" href="../cabinet-channel-feed.html">
<link rel="import" href="../apiService.html">
<link rel="import" href="../notifyService.html">



<polymer-element name="cabinet-channels" >
		
  <template>
	

	<api-service id="api"></api-service>
	<notify-service id="notify"></notify-service>

	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- <link href="../../css/style.min.css" rel="stylesheet"> -->
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >

	<style type="text/css">
		paper-spinner {
			margin: 0 auto;
			display: block;
		}
		cabinet-feed-button{
			display: block;
			width: 100%;
		}
		.list-group-item:last-child,
		.list-group-item.active{
			border-radius:0px;
		}
		.active{
			min-height: 40px;
		}
		.buttons{
			margin-top: -10px;
		}
		paper-fab{
			width: 30px;
			height: 30px;
			padding: 5px;
		}
	</style>

    <sidebar-layout selected="cabinet_channels" logined="true">
    	<preload-layout id="preload">
			<div class="col-lg-8 col-md-12 vert-offset-top-2">
				<template repeat="{{ channel in channels }}">
					<paper-shadow>
						<core-selector selected="0">
							
							<paper-item>
			      				
			      				<div class="col-md-8 pull-left">
									{{channel.name}}
								</div>
								<div class="col-md-4  pull-right">
									<div class="buttons pull-right">
										<!-- <paper-icon-button class="pull-right" icon="av:play-arrow" style="color: #09AD30;"></paper-icon-button>
		      							<paper-icon-button class="pull-right" icon="clear" style="color: #E93C3C;"></paper-icon-button> -->

										<a is="pushstate-anchor" href="/cabinet/feed/add/{{channel.id}}">
											<paper-icon-button icon="add" style="color: #259b24;"></paper-icon-button>
										</a>
										<paper-icon-button icon="clear" style="color: #d23f31;" on-tap="{{remove}}" channel-name="{{channel.name}}" channel="{{channel.id}}"></paper-icon-button>

										<!-- <paper-fab style="background: #d23f31;" icon="clear" on-tap="{{remove}}" channel-name="{{channel.name}}" channel="{{channel.id}}"></paper-fab> -->

										
										<!-- <paper-icon-button icon="create" title="Изменить"></paper-icon-button> -->
										<!-- <core-tooltip label="Удалить" class="fancy">
											<paper-icon-button icon="clear" on-tap="{{remove}}" channel-name="{{channel.name}}" channel="{{channel.id}}"></paper-icon-button>
										</core-tooltip> -->
										
									</div>	
								</div>

		      				</paper-item>

				      		<template repeat="{{group in channel.groups}}">
				      			<paper-item>
				      				<cabinet-channel-feed data="{{group}}"></cabinet-channel-feed>	
			      				</paper-item>	
				      		</template>
				      	</core-selector>
					</paper-shadow>

					<!-- <div class="list-group">
						<div class="list-group-item active">
							<div class="col-md-8 pull-left">
								{{channel.name}}
							</div>
							<div class="col-md-4  pull-right">
								<div class="buttons pull-right">
									<core-tooltip label="Новая публикация" class="fancy">
										<a is="pushstate-anchor" href="/cabinet/feed/add/{{channel.id}}"><paper-icon-button icon="add"></paper-icon-button></a>
									</core-tooltip>
									
									<paper-icon-button icon="create" title="Изменить"></paper-icon-button>
									<core-tooltip label="Удалить" class="fancy">
										<paper-icon-button icon="clear" on-tap="{{remove}}" channel-name="{{channel.name}}" channel="{{channel.id}}"></paper-icon-button>
									</core-tooltip>
									
								</div>	
							</div>
						</div>
						<template repeat="{{ group in channel.groups }}">
							<div class="list-group-item">
								<cabinet-channel-feed data="{{group}}"></cabinet-channel-feed>	
							</div>
						</template>
					</div -->>
				</template>
			</div>
    	</preload-layout>
      
    </sidebar-layout>
  </template>
  <script>
  	Polymer({
  		
		channels: [],
		eventDelegates: {
	      	remove: 'remove',
	    },

	    remove: function(event, detail, sender){
	    	var cid = sender.attributes['channel']
	    	var cname = sender.attributes['channel-name']
	    	console.log('remove channel', cid.value);
	    	if(confirm('Удалить элемент "'+cname.value+'"')){
	    		this.$.api.deleteUserChannel( cid.value, function(data){
	  				this.refresh();
	  				this.$.notify.notify(data.message);
	  			}.bind(this));
	    	}
	    },

	    refresh: function(){
	    	var me = this;
	    	me.channels = [];
	    	me.$.preload.loading = true;
	    	me.$.api.getUserChannels(function(data){
  				me.channels = data.channels;
  				me.$.preload.loading = false;
  			});
	    },

  		ready: function(){
  			var me = this;
  			this.$.api.ensureAccess();
  			console.log('ready cabinet_channel_add');
  			me.refresh();
  		}
  	});
  </script>
  
</polymer-element>
