<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../layouts/sidebar-layout.html">
<link rel="import" href="../../components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../components/paper-input/paper-input.html">
<link rel="import" href="../../components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../components/paper-dialog/paper-action-dialog.html" >
<link rel="import" href="../../components/paper-toast/paper-toast.html">

<polymer-element name="not-found">
		
  <template>


  	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  	<link href="/css/style.min.css" rel="stylesheet">
  	<link href="/css/style.css" rel="stylesheet">
  	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet" >

    <style>
      #_dialog{
        top: 10px;
        right: 10px;
        height: 76px;
        /*width: 400px;*/
      }
    </style>

      <sidebar-layout  title="Ничего не найдено">
        	
        	<paper-toast id="_dialog" opened="true" class="col-md-6 col-md-offset-3" role="alert" text="Ничего не найдено, попробуйте с главной">
            <div style="color: #eeff41;" >
              <a is="pushstate-anchor" href="/">
                <paper-button affirmative autofocus style="color:black;">главная</paper-button>
              </a>
            </div>
          </paper-toast>


      </sidebar-layout>
  </template>
  <script>
  (function(scope){

  		Polymer('not-found', {

  			ready: function(){
            var me = this;
            this.$._dialog.swipeDisabled = true;
            this.$._dialog.duration = 100000;
            this.$._dialog.autoCloseDisabled = true;
  				  this.$._dialog.show();

            this.$._dialog.addEventListener('core-overlay-close-completed', function () {
                me.$._dialog.show();            
            }); 
  			}
  		});

  })(window);
  </script>
</polymer-element>
