<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/core-image/core-image.html">
<link rel="import" href="../../components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../components/core-image/core-image.html">
<script src="upload-image.js"></script>

<polymer-element name="upload-image" >		
  <template>
	
	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet" >
	
	<div class="col-md-12">
		<input type="file" id="file" style="" on-change="{{readURL}}">
	</div>
	<div class="col-md-12">
		
		<div class="dropbox" id="dropbox" >
			<core-image sizing="cover" id="image" class="poster-pic" ></core-image>
			<paper-ripple fit ></paper-ripple>	
		</div>		
		

		<!-- <div style="position: absolute" class="_thumbnail">
			<core-image sizing="cover" class="poster-pic" src="{{data.photo_50}}"></core-image>
		</div>
		<div style="padding-left: 60px;text-align:left;">
			<small class="list-group-item-heading">{{data.name}}</small>
			<paper-ripple fit></paper-ripple>
		</div>	 -->
		

	</div>	
	<style>
		.poster-pic{
			width: 100%;
			height: 200px;
		}
		.dropbox{
			width: 100%;
			height: 200px;
			border: 1px solid white;
		}
	</style>
  </template>
</polymer-element>
