<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/core-image/core-image.html">
<link rel="import" href="../../components/core-icon/core-icon.html">
<link rel="import" href="../../components/core-icons/av-icons.html">

<link rel="import" href="./delete-button.html">
<link rel="import" href="../../components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../components/core-tooltip/core-tooltip.html">

<link rel="import" href="../apiService.html">

<polymer-element name="cabinet-feed-list-item" attributes="data">
		
  <template>
	
	<api-service id="api"></api-service>

	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">

	
	<div class="col-md-1">
		<template if="{{data.imgUrl}}">
			<core-image sizing="cover" src="{{data.imgUrl}}" class="poster-pic" ></core-image>	
		</template>
	</div>	
	<div class="col-md-9" style="text-align: left;">
		<div>{{data.format.message}}</div>
		<small style="font-size: 10px;color: #0f9d58;">{{data.format.publicOn}}</small>
	</div>
	<div class="col-md-2">

		<delete-button on-tap="{{remove}}" class="pull-right" ></delete-button>
		
		<template if="{{!data.active}}">

			<core-tooltip label="Старт" class="fancy pull-right">
				<paper-icon-button on-tap="{{toggle}}" class="pull-right" icon="av:play-arrow" style="color: #09AD30;"></paper-icon-button>	
			</core-tooltip>
			
		</template>
		<template if="{{data.active}}">
			<core-tooltip label="Пауза" class="fancy pull-right">
				<paper-icon-button on-tap="{{toggle}}" class="pull-right" icon="av:pause" style="color: #09AD30;"></paper-icon-button>	
			</core-tooltip>
		</template>
	</div>
	
	
  </template>
  <script>

  	(function(){

  		Polymer({
	  		data: {},

	  		toggle: function(){
	  			this.$.api.toggleUserFeed( this.data.id, function(data){
	  				this.fire('change', data);
	  			}.bind(this));
	  		},

	  		remove: function(){
	  			if(confirm('удалить пост ?')){
	  				this.$.api.deleteUserFeed( this.data.id, function(data){
		  				this.fire('change', data);
		  			}.bind(this));
	  			}
	  		},

	  		ready: function(){
  				var me = this;
	  			console.log('ready cabinet-feed-button');

				me.data.format = {};
				me.data.format.publicOn = moment(me.data.userPublicOn, 'YYYY-MM-DDTHH:mm:ss').format('DD.MM.YYYY HH:mm');
				me.data.format.message = me.data.message.substring(0,50)+'...';
	  		}
	  	});

  	})();
  	
  </script>
</polymer-element>
