<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%-title %></title>
	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/components/bootstrap-social/bootstrap-social.css" rel="stylesheet">

	<!-- <link href="/css/calendar.min.css" rel="stylesheet">
    <link href="/css/icomoon.min.css" rel="stylesheet">
    <link href="/css/media-player.min.css" rel="stylesheet">
    <link href="/css/file-manager.min.css" rel="stylesheet">
    <link href="/css/form.min.css" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet"> -->

	<link href="/css/theme.css" rel="stylesheet">
	<script src="/components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="/elements/elements.vulcanized.html">
	<!-- <link rel="import" href="/elements/elements.html"> -->
</head>
<body fullbleed layout vertical unresolved>