<% include header %>

<app-router id="router" mode="pushstate">
  <app-route path="/" element="home-page"></app-route>
  <app-route path="/login" element="login-page"></app-route>
  <app-route path="/cabinet/keys" element="cabinet-keys"></app-route>
  <app-route path="/cabinet/settings" element="cabinet-settings"></app-route>
  <app-route path="/cabinet/channel/add" element="cabinet-channel-add"></app-route>
  <app-route path="/cabinet/channels" element="cabinet-channels"></app-route>
  <app-route path="/cabinet/feed/add/:selectedId" element="cabinet-feed-add"></app-route>
  <app-route path="/cabinet/feed/add" element="cabinet-feed-add"></app-route>
  <app-route path="/cabinet/feed/list" element="cabinet-feed-list"></app-route>
  <app-route path="*" element="not-found"></app-route>
</app-router>

<% include footer %>